frontend==0.0.3
keras==2.7.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
matplotlib==3.4.2
mypy==0.910
mypy-extensions==0.4.3
nltk==3.7
numpy==1.19.5
pandas==1.4.2
pyinstaller==4.3
PyMuPDF==1.20.0
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.2
sklearn==0.0
virtualenv==20.6.0

